* {
  box-sizing: border-box; }

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background: no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-image: url('http://thecatapi.com/api/images/get?format=src&type=gif');
}

